//- Local variables
- const fullYear = (new Date).getFullYear();

//- External variables
block variables

doctype html
html(lang='en' dir='ltr')
  head
    //- Meta
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(property='description' content='Hello world')

    //- Favicons
    link(href='@images/favicons/favicon.svg' rel='icon' type='image/svg+xml' sizes='any')
    link(href='@images/favicons/favicon-32px.png' rel='icon' type='image/png' sizes='32x32')

    //- Page title
    title= title

    //- Page styles
    block style
      //- Common styles
      link(href='@styles/base/main.scss' rel='stylesheet')

    //- Additional head block, e.g. for preload scripts in head
    block head
      script(src='@scripts/common.js' defer)

      // Demo how to inline single CSS file using the `?inline` query
      link(href='@styles/inline-style.scss?inline' rel='stylesheet')

  body
    //- Main header
    .header-container
      .header-content
        a(href="index.html").header-left
          img.app-logo(src='@images/app-logo.svg')
          span App demo
        .header-middle
          //- Note: publicPath is the external variable passed from webpack config
          a(href=publicPath) Home
          a(href=publicPath + "contact/") Contact
          a(href=publicPath + "about/") About
        .header-right
          span.glyphicon.glyphicon-user.mr-m
          span Login

    //- Main content
    main.main-container
      .main-content
        block content

    //- Main footer
    .footer-container
      div.
        Copyleft #[span.copyleft] #{fullYear} #[a(href="https://github.com/webdiscus") @webdiscus].
        Powered by #[a(href="https://github.com/webdiscus/pug-plugin") Pug Plugin].

    //- Page scripts
    block script
