//- External variables
block variables

doctype html
html(lang='en' dir='ltr')
  head
    //- Meta
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

    //- Favicons
    link(rel='icon' href=require('~Images/favicons/favicon.svg') type='image/svg+xml' sizes='any')
    link(rel='icon' href=require('~Images/favicons/favicon-32px.png') type='image/png' sizes='32x32')

    //- Page title
    title= title

    //- Page styles
    block style
      //- common used styles
      link(rel='stylesheet' href=require('~Styles/main.scss'))

    //- Additional head block, e.g. for preload scripts in head
    block head
      script(src=require('~Scripts/common.js'))

  body
    //- Main header
    .header-container
      .header-content
        a(href="index.html").header-left
          img.app-logo(src=require('~Images/app-logo.svg'))
          span App demo
        .header-middle
          a(href="index.html") Home
          a(href="contact.html") Contact
          a(href="about.html") About
        .header-right
          span.glyphicon.glyphicon-user.mr-m
          span Login

    //- Main content
    main.main-container
      .main-content
        block content

    //- Main footer
    .footer-container
      - const fullYear = (new Date).getFullYear();
      div
        span.mr-s Copyleft
        span.mr-s.copyleft
        span #{fullYear}
        //-span |
        | &nbsp;
        a(href="https://github.com/webdiscus/pug-plugin") Pug Plugin

    //- Page scripts
    block script
