extends ./layouts/default.layout.pug

block body
  -
    // NOTE: here in the constants are only resolved via pug-loader the file paths, NOT a js object.
    // The "magic" (extraction of object properties) appair in pug-plugin during asset processing of resolved resources by webpack.
    // Use the resource query parameter `prop=PROPERTY_NAME` (feature of pug-plugin) to allow excract any property of js object in the asset processing stage.
    // For example, to extract the `srcSet` from the result of `responsive-loader`, add the query: `?prop=srcSet`.
    // If result of `responsive-loader` contains many rendered assets, then retunrs all images joined with `,`.
    // So, to extract the `placeholder` from the `responsive-loader` result, use: `?prop=placeholder`, etc.

    const getImage = (file, size) => require(`${file}?size=${size}`);

    const img = {
      src: require('../img/astronaft.jpg?size=320'),
      srcSet: require('../img/astronaft.jpg?prop=srcSet'),
    }

  h1 Responsive image
  img(srcset=img.srcSet src=img.src alt="responsive image")

  h1 Image with fixed size
  img(src=getImage('../img/gate.jpg', 320) alt="fix image")
  img(src=getImage('../img/gate.jpg', 200) alt="fix image")

  //-h2 Manually define the "srcset" attribute (alternative way)
  //-img(srcset=`${require('../img/gate.jpg?size=320')} 320w, ${require('../img/gate.jpg?size=640')} 640w, ${require('../img/gate.jpg?size=960')} 960w, ${require('../img/gate.jpg?size=1200')} 1200w, ${require('../img/gate.jpg?size=1800')} 1800w, ${require('../img/gate.jpg?size=2400')} 2400w` src=require('../img/gate.jpg?size=320') alt="responsive image")