html
  head
    link(rel='stylesheet' href=require('../assets/styles/style.scss'))
  body
    //- size > 2K then resource file
    img(src=require('~Images/delphin.jpeg'))
    img(src=require('~Images/pug-logo.png'))
    img(src=require('~Images/pug-logo.svg'))

    //- size < 2K, data-URL for binary images and inline for SVG
    img.inline(src=require('~Images/icons/iphone.png'))
    img.inline(src=require('~Images/icons/iphone.svg'))