doctype html
html
  head
    title= title
    meta(charset='utf-8')

    link(rel='icon' href=require('~Images/favicon.ico'))

    //- require source styles directly in template for processing via webpack
    link(rel='stylesheet' href=require('~Styles/styles.scss'))

    //- the compiled CSS from public path
    link(rel='stylesheet' href='/assets/css/vendor.css')
    link(rel='stylesheet' href='/assets/css/post-css-demo.min.css')

    script(src='/assets/js/app.js')
    script(src=require('../assets/js/lib.js'))

  body
    #app-root
      //- 1 The application content from PUG templates will be added via JavaScript.
          This supports `live reload` after edit.

    #static-content
      h2.vendor-color Static content
      div Here is the content from static generated HTML.
      div After edit you must reload the site manual.
      img(src=require('~Images/image.jpeg'))
      div.autoprefixer-example The block with autoprefixer.
      p
        a(href='about.html') about
