html
  head
    //- stay as is
    script(src='/static/vendor/main.js')

    //- extract common code in separate chunk file and inject one before original script
    script(src=require('./module/script-a.js'))
    script(src=require('./module/script-b.js'))
  body
    h1 Hello World!
    - var lib = require('./module/lib.js')
    h2= lib.render('content')

    #footer

    //- if is same basename then add index to next same filename
    script(src=require('./main.js'))
    script(src=require('./about/main.js'))