doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='icon' href=require('~Images/favicon.ico'))

    //- process styles (NOT SUPPORTS in mini-css-extract and html-webpack-plugin)
    //-link(rel='stylesheet' href=require('~Styles/styles.scss'))
    //-link(rel='stylesheet' href=require('~Styles/vendor.css'))

    //- the compiled CSS from public path
    link(rel='stylesheet' href='/assets/css/styles.css')
    link(rel='stylesheet' href='/assets/css/vendor.css')

    script(src='/app.js')

  body
    #app-root
      //- The application content from PUG templates will be added via JavaScript.
          This supports `live reload` after edit.

    #static-content
      h2.vendor-color Static content
      div Here is the content from static generated HTML.
      div After edit you must reload the site manual.
      img(src=require('~Images/image.jpeg'))
      p
        a(href='about.html') about
