extends ./layouts/default.layout.pug

block body
    h1.text-3xl.font-bold.underline.text-white.bg-red-700.p-8.font-sansSerif.shadow-2xl= title
    a.text-ahmed(href="/about.html") about me
    button.text-ahmed click me
    p(x-text="open")
    icon(src="chevron-down.svg", width="48", height="48")

    -
        // ATTANTION: here in the consts are only resolved via pug-loader the file paths, NOT a js object.
        // The "magic" (extraction of object properties) appair in pug-plugin during asset processing of resolved resources by webpack.
        // Use the resource query parameter `prop=PROPERTY_NAME` (feature of pug-plugin) to allow excract any property of js object in the asset processing stage.
        // For example, to extract the `srcSet` from the result of `responsive-loader`, add the query: `?prop=srcSet`.
        // If result of `responsive-loader` contains many rendered assets, then retunrs all images joined with `,`.
        // So, to extract the `placeholder` from the `responsive-loader` result, use: `?prop=placeholder`, etc.

        const imgSrc = require('../img/1033740.jpg?size=640');
        const imgSrcSet = require('../img/1033740.jpg?prop=srcSet');
    
    pre image src: #{imgSrc}

    img(srcset=imgSrcSet src=imgSrc alt="alt")
    br
    h2 Manually define the "srcset" attribute (alternative way)
    img(srcset=`${require('../img/1033740.jpg?size=320')} 320w, ${require('../img/1033740.jpg?size=640')} 640w, ${require('../img/1033740.jpg?size=960')} 960w, ${require('../img/1033740.jpg?size=1200')} 1200w, ${require('../img/1033740.jpg?size=1800')} 1800w, ${require('../img/1033740.jpg?size=2400')} 2400w` src=require('../img/1033740.jpg?size=640') alt="alt 2")


    .d-flex.flex-wrap.items-center.p-3.gap-3
        .bg-dark-50.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-dark-100.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-dark-200.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-dark-300.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-dark-400.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-dark-500.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md.outline-2.outline-dashed.outline-indigo-700
        .bg-dark.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md.outline-2.outline-dashed.outline-indigo-700
        .bg-dark-600.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-dark-700.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-dark-800.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-dark-900.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md


    .d-flex.flex-wrap.items-center.p-3.gap-3
        .bg-color1-50.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color1-100.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color1-200.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color1-300.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color1-400.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color1-500.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md.outline-2.outline-dashed.outline-indigo-700
        .bg-color1.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md.outline-2.outline-dashed.outline-indigo-700
        .bg-color1-600.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color1-700.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color1-800.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color1-900.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md

    .d-flex.flex-wrap.items-center.p-3.gap-3
        .bg-color2-50.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color2-100.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color2-200.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color2-300.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color2-400.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color2-500.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md.outline-2.outline-dashed.outline-indigo-700
        .bg-color2.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md.outline-2.outline-dashed.outline-indigo-700
        .bg-color2-600.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color2-700.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color2-800.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color2-900.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md

    .d-flex.flex-wrap.items-center.p-3.gap-3
        .bg-color3-50.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color3-100.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color3-200.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color3-300.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color3-400.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color3-500.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md.outline-2.outline-dashed.outline-indigo-700
        .bg-color3.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md.outline-2.outline-dashed.outline-indigo-700
        .bg-color3-600.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color3-700.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color3-800.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md
        .bg-color3-900.shrink-0.inline-flex.w-16.h-16.rounded.shadow-md

    .box-view.box-view--black
        .box-view__item.box-view__item--dark-80
        .box-view__item.box-view__item--dark-70
        .box-view__item.box-view__item--dark-60
        .box-view__item.box-view__item--dark-50
        .box-view__item.box-view__item--dark-40
        .box-view__item.box-view__item--dark-30
        .box-view__item.box-view__item--dark-20
        .box-view__item.box-view__item--dark-10
        .box-view__item.box-view__item--normal
        .box-view__item.box-view__item--light-10
        .box-view__item.box-view__item--light-20
        .box-view__item.box-view__item--light-30
        .box-view__item.box-view__item--light-40
        .box-view__item.box-view__item--light-50
        .box-view__item.box-view__item--light-60
        .box-view__item.box-view__item--light-70
        .box-view__item.box-view__item--light-80

    .box-view.box-view--white
        .box-view__item.box-view__item--dark-80
        .box-view__item.box-view__item--dark-70
        .box-view__item.box-view__item--dark-60
        .box-view__item.box-view__item--dark-50
        .box-view__item.box-view__item--dark-40
        .box-view__item.box-view__item--dark-30
        .box-view__item.box-view__item--dark-20
        .box-view__item.box-view__item--dark-10
        .box-view__item.box-view__item--normal
        .box-view__item.box-view__item--light-10
        .box-view__item.box-view__item--light-20
        .box-view__item.box-view__item--light-30
        .box-view__item.box-view__item--light-40
        .box-view__item.box-view__item--light-50
        .box-view__item.box-view__item--light-60
        .box-view__item.box-view__item--light-70
        .box-view__item.box-view__item--light-80

    .box-view.box-view--color-1
        .box-view__item.box-view__item--dark-80
        .box-view__item.box-view__item--dark-70
        .box-view__item.box-view__item--dark-60
        .box-view__item.box-view__item--dark-50
        .box-view__item.box-view__item--dark-40
        .box-view__item.box-view__item--dark-30
        .box-view__item.box-view__item--dark-20
        .box-view__item.box-view__item--dark-10
        .box-view__item.box-view__item--normal
        .box-view__item.box-view__item--light-10
        .box-view__item.box-view__item--light-20
        .box-view__item.box-view__item--light-30
        .box-view__item.box-view__item--light-40
        .box-view__item.box-view__item--light-50
        .box-view__item.box-view__item--light-60
        .box-view__item.box-view__item--light-70
        .box-view__item.box-view__item--light-80

    .box-view.box-view--color-2
        .box-view__item.box-view__item--dark-80
        .box-view__item.box-view__item--dark-70
        .box-view__item.box-view__item--dark-60
        .box-view__item.box-view__item--dark-50
        .box-view__item.box-view__item--dark-40
        .box-view__item.box-view__item--dark-30
        .box-view__item.box-view__item--dark-20
        .box-view__item.box-view__item--dark-10
        .box-view__item.box-view__item--normal
        .box-view__item.box-view__item--light-10
        .box-view__item.box-view__item--light-20
        .box-view__item.box-view__item--light-30
        .box-view__item.box-view__item--light-40
        .box-view__item.box-view__item--light-50
        .box-view__item.box-view__item--light-60
        .box-view__item.box-view__item--light-70
        .box-view__item.box-view__item--light-80

    .box-view.box-view--color-3
        .box-view__item.box-view__item--dark-80
        .box-view__item.box-view__item--dark-70
        .box-view__item.box-view__item--dark-60
        .box-view__item.box-view__item--dark-50
        .box-view__item.box-view__item--dark-40
        .box-view__item.box-view__item--dark-30
        .box-view__item.box-view__item--dark-20
        .box-view__item.box-view__item--dark-10
        .box-view__item.box-view__item--normal
        .box-view__item.box-view__item--light-10
        .box-view__item.box-view__item--light-20
        .box-view__item.box-view__item--light-30
        .box-view__item.box-view__item--light-40
        .box-view__item.box-view__item--light-50
        .box-view__item.box-view__item--light-60
        .box-view__item.box-view__item--light-70
        .box-view__item.box-view__item--light-80


    +WSlideNavigation('sn_00')
        +WSlideNavigationItem('scene_0')
            .card
                .card-body
                    p Scene 00_00
                    .btn-group
                        button.btn.btn-outline-primary(@click="nextScene('scene_1')")
                            | next to 00_01
                        button.btn.btn-outline-primary(@click="nextScene('scene_5')")
                            | next to 00_02

        +WSlideNavigationItem('scene_1')
            .card
                .card-body
                    p Scene 00_01
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi esse quos suscipit asperiores, quia officiis? Dolor rerum pariatur totam fugit? Optio, neque eius in dolores consequatur perferendis deleniti. Quidem, repellat.
                    div(x-data="deneme", x-id="yellow")
                        <input type="text" class="form-control mb-4" placeholder="text" x-model="sayi">
                        p(x-text="sayi")
                    .btn-group
                        button.btn.btn-outline-primary(@click="prevScene") prev
                        button.btn.btn-outline-primary(@click="nextScene('scene_2')") next to 01_00
                        button.btn.btn-outline-primary(@click="nextScene('scene_3')") next to 01_01
                        button.btn.btn-outline-primary(@click="nextScene('scene_4')") next to 01_02

        +WSlideNavigationItem('scene_2')
            .card
                .card-body
                    p Scene 01_00
                    .btn-group
                    button.btn.btn-outline-primary(@click="prevScene") prev

        +WSlideNavigationItem('scene_3')
            .card
                .card-body
                    p Scene 01_01
                    .btn-group
                    button.btn.btn-outline-primary(@click="prevScene") prev

        +WSlideNavigationItem('scene_4')
            .card
                .card-body
                    p Scene 01_02
                    .btn-group
                    button.btn.btn-outline-primary(@click="prevScene") prev

        +WSlideNavigationItem('scene_5')
            .card
                .card-body
                    p Scene 00_02
                    .btn-group
                    button.btn.btn-outline-primary(@click="prevScene") prev


    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia voluptate, esse dolorum iure ipsum? Mollitia, velit! Totam corrupti maxime voluptas tempore similique ducimus quidem enim, ex aliquid, vero quod?
        a(href="#") Hello world

    p.text-red-600 Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia voluptate, esse dolorum iure ipsum? Mollitia, velit! Totam corrupti maxime voluptas tempore similique ducimus quidem enim, ex aliquid, vero quod?

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia voluptate, esse dolorum iure ipsum? Mollitia, velit! Totam corrupti maxime voluptas tempore similique ducimus quidem enim, ex aliquid, vero quod?

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia voluptate, esse dolorum iure ipsum? Mollitia, velit! Totam corrupti maxime voluptas tempore similique ducimus quidem enim, ex aliquid, vero quod?

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia voluptate, esse dolorum iure ipsum? Mollitia, velit! Totam corrupti maxime voluptas tempore similique ducimus quidem enim, ex aliquid, vero quod?

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia voluptate, esse dolorum iure ipsum? Mollitia, velit! Totam corrupti maxime voluptas tempore similique ducimus quidem enim, ex aliquid, vero quod?

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia voluptate, esse dolorum iure ipsum? Mollitia, velit! Totam corrupti maxime voluptas tempore similique ducimus quidem enim, ex aliquid, vero quod?
