include ../widgets/__init__.pug
include ../components/__init__.pug

doctype html
html(lang="en", dir="ltr")
    head
        block head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Document | Pug.js
            meta(name="theme-color", content="#000000")
        block stylesheets
            link(rel="stylesheet", href=require('../../scss/bootstrap.scss'))
            link(rel="stylesheet", href=require('../../scss/tailwind.scss'))
            link(rel="stylesheet", href=require('../../scss/swiper.scss'))
            link(rel="stylesheet", href=require('../../scss/main.scss'))
            //- link(rel="preconnect" href="https://fonts.gstatic.com")
            //- link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap")
        link(rel="icon", type="image/webp", sizes="192x192", href=require('./../../img/favicon.png?size=192'))
  
    body
        #app
            block fixed

            block header
                +CMainHeader

            // main.main-content
            main.main-content
                block body
            // ## main.main-content

            block footer
                +CMainFooter
            
        block scripts
            script(src=require('../../js/main.js'))
